{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <section id="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="restaurent-menu-title">
                        <h2 class="primery-title">Subtitle here</h2>
                        <h3 class="secondery-title">blog grids</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-inner padding-top-xlg">
                        <div class="row">
                            <!-- start single blog -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="product-container">
                                    <div class="image-area"><img src="img/blog/grid/1.png" alt=""></div>
                                    <div class="blog-footer">
                                        <div class="post-date-time">October 12, 2015 <span>with</span> 3 Comments</div>
                                        <h3>Latin America's 50 Best Restaurants</h3>
                                        <p>Aliquam consequat fringilla nisi, eget mattis dolor. Donec quis tristique odio. Sed malesuada erat consectetur justo ultrices que. Proin imperdiet velit augue. Nulla lobortis [...]</p>
                                        <a class="btn btn-blog-read-more" href="blog-single.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single blog -->
                            <!-- start single blog -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="product-container">
                                    <div class="image-area"><img src="img/blog/grid/2.png" alt=""></div>
                                    <div class="blog-footer">
                                        <div class="post-date-time">October 12, 2015 <span>with</span> 3 Comments</div>
                                        <h3>What To Eat At The Grove</h3>
                                        <p>Aliquam consequat fringilla nisi, eget mattis dolor. Donec quis tristique odio. Sed malesuada erat consectetur justo ultrices que. Proin imperdiet velit augue. Nulla lobortis [...]</p>
                                        <a class="btn btn-blog-read-more" href="blog-single.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single blog -->
                            <!-- start single blog -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="product-container">
                                    <div class="image-area"><img src="img/blog/grid/3.png" alt=""></div>
                                    <div class="blog-footer">
                                        <div class="post-date-time">October 12, 2015 <span>with</span> 3 Comments</div>
                                        <h3>Roast Chicken, the Easy Way</h3>
                                        <p>Aliquam consequat fringilla nisi, eget mattis dolor. Donec quis tristique odio. Sed malesuada erat consectetur justo ultrices que. Proin imperdiet velit augue. Nulla lobortis [...]</p>
                                        <a class="btn btn-blog-read-more" href="blog-single.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single blog -->
                            <!-- start single blog -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="product-container">
                                    <div class="image-area"><img src="img/blog/grid/4.png" alt=""></div>
                                    <div class="blog-footer">
                                        <div class="post-date-time">October 12, 2015 <span>with</span> 3 Comments</div>
                                        <h3>Ragù, a Meat Sauce Done Right</h3>
                                        <p>Aliquam consequat fringilla nisi, eget mattis dolor. Donec quis tristique odio. Sed malesuada erat consectetur justo ultrices que. Proin imperdiet velit augue. Nulla lobortis [...]</p>
                                        <a class="btn btn-blog-read-more" href="blog-single.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single blog -->
                            <!-- start single blog -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="product-container">
                                    <div class="image-area"><img src="img/blog/grid/5.png" alt=""></div>
                                    <div class="blog-footer">
                                        <div class="post-date-time">October 12, 2015 <span>with</span> 3 Comments</div>
                                        <h3>All Rise for the Soufflé</h3>
                                        <p>Aliquam consequat fringilla nisi, eget mattis dolor. Donec quis tristique odio. Sed malesuada erat consectetur justo ultrices que. Proin imperdiet velit augue. Nulla lobortis [...]</p>
                                        <a class="btn btn-blog-read-more" href="blog-single.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single blog -->
                            <!-- start single blog -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="product-container">
                                    <div class="image-area"><img src="img/blog/grid/6.png" alt=""></div>
                                    <div class="blog-footer">
                                        <div class="post-date-time">October 12, 2015 <span>with</span> 3 Comments</div>
                                        <h3>Chinon, a Red With Attitude</h3>
                                        <p>Aliquam consequat fringilla nisi, eget mattis dolor. Donec quis tristique odio. Sed malesuada erat consectetur justo ultrices que. Proin imperdiet velit augue. Nulla lobortis [...]</p>
                                        <a class="btn btn-blog-read-more" href="blog-single.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single blog -->
                            <div class="product-pagination">
                                <nav>
                                  <ul class="pagination">
                                    <li class="preview hidden">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">7</a></li>
                                    <li class="next">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
