{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <section id="restaurent-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="restaurent-menu-title">
                        <h2 class="primery-title">Subtitle here</h2>
                        <h3 class="secondery-title">The MENU list</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="restaurant-menu-inner">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="inner-title">choose the category</h2>
                                <p>Mauris sed risus vel dui bibendum feugiat. Sed fermentum aliquam libero, a egestas turpis fringilla at. Nam id placerat quam. Vestibulum vitae lorem nibh.</p>
                            </div>
                            <div class="col-md-8">
                                <div class="RestaurantMenuFilter filter">
                                    <a href="#" data-filter="*" class="current">Все</a>
                                    <a href="#" data-filter=".fresh-juices">Свежие соки</a>
                                    <a href="#" data-filter=".alcohol">Алкоголь</a>
                                    <a href="#" data-filter=".pizza">Пицца</a>
                                    <a href="#" data-filter=".coffee">Кофе</a>
                                </div>
                                <div class="RestaurantMenuContainer filterontainer">
                                    <div class="fresh-juices">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="alcohol coffee">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="pizza">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="alcohol coffee">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="coffee fresh-juices">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="alcohol pizza fresh-juices">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="pizza fresh-juices">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                    <div class="pizza">
                                        <a href="#">
                                            <img class="alignleft" src="img/menu/menu1.png" alt="menu" />
                                            <span class="restaurant-menu-title">Dimo’s Pizza</span>
                                            <span class="item-price">$24.1</span>
                                            <p class="menu-description">Maecenas dapibus</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pull-right">
                                <div class="right-image"><img src="img/fork.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>
{% endblock %}