{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <section id="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="restaurent-menu-title">
                        <h2 class="primery-title">Subtitle here</h2>
                        <h3 class="secondery-title">pricing tables</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-inner padding-top-xlg">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-center text-center">
                                    <h2>pricing tables</h2>
                                    <hr />
                                    <p>Donec maximus euismod tortor nec vulputate. Pellentesque nec venenatis urna. Nullam ac vestibulum ligula. Integer aliquam non ipsum id laoreet.</p>
                                </div>
                                <div class="pricing-table text-center padding-bottom-lg-90">
                                    <!-- Start Single price table -->
                                    <div class="single-pricing-table">
                                        <div class="pricing-table-header text-center">
                                            <h1>standard</h1>
                                            <div class="pricing">
                                                <div class="price">$49</div>
                                                <div class="per-month"> <span>per</span>  <span>month</span></div>
                                            </div>
                                        </div>
                                        <div class="pricing-table-content text-center">
                                            <ul>
                                                <li>10 User Accounts</li>
                                                <li>3 Restaurant Tables</li>
                                                <li>Unlimited Pages</li>
                                                <li>100 GB Bandwidth</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-table-footer text-center">
                                            <button class="btn btn-purchase-now" type="submit">purchase now</button>
                                        </div>
                                    </div>
                                    <!-- end single pricing table -->
                                    <!-- Start Single price table -->
                                    <div class="single-pricing-table">
                                        <div class="pricing-table-header text-center">
                                            <h1>premium</h1>
                                            <div class="pricing">
                                                <div class="price">$69</div>
                                                <div class="per-month"> <span>per</span>  <span>month</span></div>
                                            </div>
                                        </div>
                                        <div class="pricing-table-content text-center">
                                            <ul>
                                                <li>10 User Accounts</li>
                                                <li>3 Restaurant Tables</li>
                                                <li>Unlimited Pages</li>
                                                <li>100 GB Bandwidth</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-table-footer text-center">
                                            <button class="btn btn-purchase-now" type="submit">purchase now</button>
                                        </div>
                                    </div>
                                    <!-- end single pricing table -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}