{% extends 'index.html' %}
{% block content %}
    <section id="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="restaurent-menu-title">
                        <h2 class="primery-title">Subtitle here</h2>
                        <h3 class="secondery-title">rooms listing</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-inner padding-top-xlg">
                        <div class="row">
                            <!-- Single Room -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-md">
                                <div class="rooms-container">
                                    <div class="rooms-image"><img src="img/rooms/1.png" alt=""></div>
                                    <div class="rooms-footer">
                                        <div class="price-area">
                                            <div class="price-from">
                                                Price from:
                                            </div>
                                            <div class="price">$240 / Night</div>
                                        </div>
                                        <div class="rooms-content-area">
                                            <h3>Luxury Room</h3>
                                            <p>Pellentesque consectetur dui velit, scelerisque aliquam libero posuere ac.</p>
                                            <a class="btn btn-rooms-book-now" href="room-booking.html" >book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single rooms -->
                            <!-- Single Room -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-md">
                                <div class="rooms-container">
                                    <div class="rooms-image"><img src="img/rooms/2.png" alt=""></div>
                                    <div class="rooms-footer">
                                        <div class="price-area">
                                            <div class="price-from">
                                                Price from:
                                            </div>
                                            <div class="price">$240 / Night</div>
                                        </div>
                                        <div class="rooms-content-area">
                                            <h3>Personal Room</h3>
                                            <p>Pellentesque consectetur dui velit, scelerisque aliquam libero posuere ac.</p>
                                            <a class="btn btn-rooms-book-now" href="room-booking.html" >book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single rooms -->
                            <!-- Single Room -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-md">
                                <div class="rooms-container">
                                    <div class="rooms-image"><img src="img/rooms/3.png" alt=""></div>
                                    <div class="rooms-footer">
                                        <div class="price-area">
                                            <div class="price-from">
                                                Price from:
                                            </div>
                                            <div class="price">$240 / Night</div>
                                        </div>
                                        <div class="rooms-content-area">
                                            <h3>Family room</h3>
                                            <p>Pellentesque consectetur dui velit, scelerisque aliquam libero posuere ac.</p>
                                            <a class="btn btn-rooms-book-now" href="room-booking.html" >book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single rooms -->
                            <!-- Single Room -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-md">
                                <div class="rooms-container">
                                    <div class="rooms-image"><img src="img/rooms/4.png" alt=""></div>
                                    <div class="rooms-footer">
                                        <div class="price-area">
                                            <div class="price-from">
                                                Price from:
                                            </div>
                                            <div class="price">$240 / Night</div>
                                        </div>
                                        <div class="rooms-content-area">
                                            <h3>Luxury Room</h3>
                                            <p>Pellentesque consectetur dui velit, scelerisque aliquam libero posuere ac.</p>
                                            <a class="btn btn-rooms-book-now" href="room-booking.html" >book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single rooms -->
                            <!-- Single Room -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-md">
                                <div class="rooms-container">
                                    <div class="rooms-image"><img src="img/rooms/5.png" alt=""></div>
                                    <div class="rooms-footer">
                                        <div class="price-area">
                                            <div class="price-from">
                                                Price from:
                                            </div>
                                            <div class="price">$240 / Night</div>
                                        </div>
                                        <div class="rooms-content-area">
                                            <h3>Personal Room</h3>
                                            <p>Pellentesque consectetur dui velit, scelerisque aliquam libero posuere ac.</p>
                                            <a class="btn btn-rooms-book-now" href="room-booking.html" >book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single rooms -->
                            <!-- Single Room -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-bottom-md">
                                <div class="rooms-container">
                                    <div class="rooms-image"><img src="img/rooms/6.png" alt=""></div>
                                    <div class="rooms-footer">
                                        <div class="price-area">
                                            <div class="price-from">
                                                Price from:
                                            </div>
                                            <div class="price">$240 / Night</div>
                                        </div>
                                        <div class="rooms-content-area">
                                            <h3>Kids Bedroom</h3>
                                            <p>Pellentesque consectetur dui velit, scelerisque aliquam libero posuere ac.</p>
                                            <a class="btn btn-rooms-book-now" href="room-booking.html" >book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single rooms -->
                            <div class="product-pagination">
                                <nav>
                                  <ul class="pagination">
                                    <li class="preview hidden">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">7</a></li>
                                    <li class="next">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}